{% extends "LinCCTablesBundle:Tables:layout.html.twig" %}

{% set tableName = 'PLC Connection' %}

{% block title %}{{ tableName }}{% endblock %}

{% block content %}
<div class="container" id="content">

  <div class="row">
    <table class="table table-condensed table-bordered" id="table"data-table-name="{{ tableName|replace(' ','_')|lower }}">
      <thead>
        <th>th</th>
        <th>th</th>
        <th>th</th>
        <th>th</th>
        <th>th</th>
        <th>th</th>
        <th>th</th>
        <th>th</th>
      </thead>
      <tbody>
        {% if plcconnections is defined %}
            {% for connection in plcconnections %}
                <tr>
                  <td>{{ connection.getId() }}</td>
                  <td>{{ connection.getName() }}</td>
                  <td>{{ connection.getType().getName() }}</td>
                  <td>{{ connection.getRack() }}</td>
                  <td>{{ connection.getSlot() }}</td>
                  <td>{{ connection.getIp() }}</td>
                  <td>{{ connection.getConnPort() }}</td>
                  <td>{{ connection.getDescription() }}</td>
                </tr>
            {% endfor %}
        {% endif %}
      </tbody>
    </table>

  </div>
</div>
{% endblock %}
